[submodule "file-server"]
	path = file-server
	url = https://github.com/pomdtr/smallweb-file-server
[submodule "vscode-dev"]
	path = vscode-dev
	url = https://github.com/pomdtr/smallweb-vscode
[submodule "lastlogin"]
	path = lastlogin
	url = https://github.com/pomdtr/deno-lastlogin
[submodule "app-template"]
	path = app-template
	url = https://github.com/pomdtr/smallweb-app-template
[submodule "excalidraw-dev"]
	path = excalidraw-dev
	url = https://github.com/pomdtr/smallweb-excalidraw
