:root {
    --color-background: oklch(95% 0.03 100deg);
    --color-background-dark: oklch(92.5% 0.03 100deg);
    --color-background-darker: oklch(90% 0.03 100deg);
    --color-background-darkest: oklch(87.5% 0.03 100deg);

    --color-content: oklch(95% 0.03 100deg);
}

html {
    background: oklch(95% 0.03 100deg);

    .box {
        margin: 64px;
        padding: 32px;
        background: var(--color-background-darker);
        border: 1px solid var(--color-background-darker);
        border-radius: 16px;
        box-shadow: 0 0 32px rgba(0, 0, 0, 5%);
    }

    .square {
        width: 128px;
        height: 128px;

        background: var(--color-content);
        color: var(--color-background);
    }
}
